{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Profile - Diabetes Tracker{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Your Profile</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Account Information</legend>
                        {{ user_form|crispy }}
                    </fieldset>
                    <div class="form-group mt-3">
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
